@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
}
.navBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
    z-index: 1000;
}
.navBar .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight:600;
    text-transform: uppercase;
    color: #fff;
}
.navBar .logo a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.navBar .navbar_list{
    list-style: none;
    float: right;
    display: flex;
    
}
.navBar ul li a{
    line-height: 80px;
    color: #fff;
    padding:12px 30px ;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2rem;
}
.navBar ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}
.first-section{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.first-section::after{
    content: "";
  background: url(/imagens/img_academia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  
}
.first-section p{
    font-size: 36px;
    color: black;
    font-weight: bold;
    padding: 20px;
    
    
}
.quem-sou{
    background-color: #1c1c1c;
    color: #fff;
    float: left;
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 40%);
}
.quem-sou h1{
    font-size: 26px;
    padding: 20px;
}
.quem-sou p{
    width: 100%;
    padding: 20px;
    letter-spacing: .1rem;
}
.quem-sou .img_daniel{
    float: right;
    height:50% ;
    position: relative;
    border: 6px solid #fff;
    border-radius: 3px 15px;
    padding-right: 20px;
       
}

